<div class="row mt-3">
    <div class="card col-md-3 m-2" *ngFor="let pokemon of dataPokemon">
        <div class="card-header">
            <h2 class="text-center">{{pokemon.name}}</h2>
        </div>
        <div class="card-body text-center">
            <img [src]="pokemon.sprites.front_default">
        </div>
        <div>
                        <div>
                <span>Tipo:</span>
                <ul>
                    <li *ngFor="let type of pokemon.types">{{type.type.name}}</li>
                </ul>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block" (click)="onPokemonLoad(pokemon)"
                data-toggle="modal" data-target="#exampleModal">
                Ver más
            </button>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{pokemon.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>{{pokemon.weight}} gramos</li>
                    <li>{{pokemon.height}} cm</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>